{% extends "base.html" %} {% load static pygmentify %}
{% load gravatar %}
{% block content %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/vs.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/entry_detail.css' %}"/>
{% endblock %}


<div class="blog">
    <div class="jumbo-image" style="background:url('{{ entry.get_poster }}')"></div>
    <article class="blog-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                     <div class="blog-card">
                         <h2 class="title">{{ entry.title }}</h2>
                        <p class="description">{{ entry.body|truncatechars:250 }}</p>
                        <div class="author">
                            <div class="row">
                                <div class="col-md-8">
                                    <img src="{% gravatar_url entry.author.email 150 %}" class="avatar">
                                    <p class="name">{{ entry.author }}</p>
                                    <p class="description"> {{ entry.published_date|date }} </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="time-estimate float-right">{{ entry.estimate_reading_time }} minute read</p>
                                </div>
                            </div>
                        </div>
                     </div>
                    <!---- Article ---->
                    <div class="blog-content">
                        {{ entry.body | pygmentify_inline }}
                    </div>
                    <div class="blog-footer">
                       {% with entry.tags.all as tags %}
                           {% if tags.exists %}
                               {% for tag in entry.tags.all %}
                                  <div class="tag">{{ tag }}</div>
                               {% endfor %}
                           {% endif %}
                       {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

{#<div class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-md-3 bg-light border border-white category_ul">#}
{#            {% if categories.exists %}#}
{#            <p>#}
{#                <h5 class="text-muted text-center"> Categories </h5>#}
{#                <hr>#}
{#                <ul>#}
{#                    {% for category in categories %}#}
{#                    <li><a href="{% url 'post-in-category' category.pk %}">{{category.name}}</a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </p>#}
{#            {%endif%}#}
{#        </div>#}
{#        <div class="col-md-9 bg-light border border-white">#}
{#            <div class="detail_header">#}
{#                <h1 class="text-center">{{ entry.title }}</h1>#}
{#            </div>#}
{#            <div class="row text-center" style="padding-left: 0px;">#}
{#                <ul class="post-meta">#}
{#                    <li>#}
{#                        <i class="fa fa-calendar"></i> {{ entry.modified_at | date }}#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-clock-o"></i> {{ entry.estimate_reading_time }} minutes read#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-comments"></i>#}
{#                        <a href="#"> {{ entry.count_comments }} comments </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-eye"></i>#}
{#                        <span>{{ entry.views }}</span> views#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="row">#}
{#                <p><img class="entry-poster" src="{{ entry.get_poster }}" ></p>#}
{#            </div>#}
{#            {{ entry.body | pygmentify_inline }}#}
{#            <hr>#}
{#            {% with entry.tags.all as tags %}#}
{#            {% if tags.exists %}#}
{#            <span class="text-muted">Tags</span>#}
{#            <ul class="post-meta">#}
{#                {% for tag in entry.tags.all %}#}
{#                <li><i class="fa fa-tags"></i> {{ tag }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            {% endif %}#}
{#            {% endwith %}#}
{#        </div>#}
{#    </div>#}
{#    {% with entry.get_similar_post as entries %}#}
{#    {% if entries.exists %}#}
{#    <h3 class="text-center">Related Posts</h3>#}
{#    <div class="row">#}
{#        {% for entry in entries %}#}
{#        {% if forloop.counter < 4 %}#}
{#        <div class="col-md-4">#}
{#            <div class="card">#}
{#                <img class="card-img-top" style="min-height: 224px; max-height: 224px;" src="{{entry.get_poster}}" alt="{{entry.title|truncatechars:12}}">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">{{entry.title|truncatechars:30 }}</h5>#}
{#                    <p class="card-text">{{entry.body|truncatechars:128| pygmentify_inline }}</p>#}
{#                    <a href="{{entry.get_absolute_url}}" class="btn btn-primary"> View </a>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                    <small class="text-muted">{{entry.modified_at | date}}</small>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {%endif%}#}
{#        {%endfor%}#}
{#    </div>#}
{#    {% endif %}#}
{#    {% endwith %}#}
{#    <div class="row category_ul_bottom">#}
{#        <div class="bg-light border border-white">#}
{#               {% if categories.exists %}#}
{#                <p>#}
{#                    <h5 class="text-muted text-center"> Categories </h5>#}
{#                    <hr>#}
{#                    <ul>#}
{#                        {% for category in categories %}#}
{#                        <li><a href="{% url 'post-in-category' category.pk %}">{{category.name}}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </p>#}
{#                {%endif%}#}
{#        </div>#}
{#    </div>#}
{#    <hr><br>#}
{#</div>#}
{% endblock %}
