{% extends "base.html" %}
{% load static pygmentify gravatar %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/vs.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/entry_detail.css' %}"/>
{% endblock %}


<div class="blog">
    <div class="jumbo-image" style="background:url('{{ entry.get_poster }}')"></div>
    <article class="blog-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                     <div class="blog-card">
                         <h2 class="title">{{ entry.title }}</h2>
                        <p class="description">{{ entry.body|truncatechars:250 }}</p>
                        <div class="author">
                            <div class="row">
                                <div class="col-md-8">
                                    <img src="{% gravatar_url entry.author.email 150 %}" class="avatar">
                                    <p class="name">{{ entry.author }}</p>
                                    <p class="description"> {{ entry.published_date|date }} </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="time-estimate float-right">{{ entry.estimate_reading_time }} minute read</p>
                                </div>
                            </div>
                        </div>
                     </div>
                    <!---- Article ---->
                    <div class="blog-content">
                        {{ entry.body | pygmentify_inline }}
                    </div>
                    <div class="blog-footer">
                       {% with entry.tags.all as tags %}
                           {% if tags.exists %}
                               {% for tag in entry.tags.all %}
                                  <div class="tag">{{ tag }}</div>
                               {% endfor %}
                           {% endif %}
                       {% endwith %}
                        <div class="social">
                                <p class="text">Share on:</p>
                                <object data="{% static 'image/facebook.svg' %}" class="icon facebook"></object>
                                <object data="{% static 'image/twitter.svg' %}" class="icon twitter"></object>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}
