{% extends "base.html" %} {%load static%} {% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/entry_detail.css' %}"/>
{% endblock%}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-9 bg-light border border-white">
            <br><br>
            <div id="target"></div>
            <hr>
            <form action="" method="post">{% csrf_token %}
                <div class="form-group">
                    <textarea id='article' class="form-control" rows="3" placeholder="Type in here"></textarea>
                </div>
                <input type="submit" value="Send message" class="btn btn-primary btn-lg btn-block"/>
            </form>
        </div>
    </div>
</div>
<br><br>
{%block js%}
<script>
    $('#article').keyup(function() {
    $('#target').html($(this).val());
});
</script>
{%endblock%}
{% endblock %}