{% extends "base.html" %} {%load static%} {% block content %}
<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-md-12">
{% if entries.exists %}
<ul>
    {% for entry in entries %}
    <li><a href="{% url 'entry_detail' entry.slug %}">{{ entry.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
      <p>Results Not Found.</p>
{% endif %}

<div class="pagination">
    <ul>
        {% if paginator.has_previous %}
        <li><a href="?page={{ paginator.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for pg in paginator.page_range %}
        {% if paginator.number == pg %}
        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% endif %}
        {% endfor %}
        {% if paginator.has_next %}
        <li><a href="?page={{ paginator.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>

  </div>
</div>
{% endblock content %}