{% extends "base.html" %} {%load static%} {% block content %}
<main role="main" class="container">
    <div class="starter-template">
        <h1>Programming For Fun and Profit</h1>
        <p class="lead">This blog is a collection of codes and steps I documented to help me remember stuff that I have worked on.
            <br> All codes and snippets on this blog are free for use by any one.</p>
    </div>
</main>
<!-- /.container -->
<div class="row">
    <div class="card mb-3" style="max-width: 17rem; margin-left: 10px;">
        <img class="card-img-top" style="min-height: 224px; max-height: 224px;" src="{% static 'image/django.png' %}" alt="Django">
        <div class="card-body">
            <h5 class="card-title text-center">Django</h5>
         <p class="card-text">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</p>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 17rem; margin-left: 10px;">
        <img class="card-img-top" style="min-height: 224px; max-height: 224px;" src="{% static 'image/flask.png' %}" alt="Flask">
        <div class="card-body">
            <h5 class="card-title text-center">Flask</h5>
            <p class="card-text">Python is a programming language that lets you work quickly and integrate systems more effectivel</p>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 17rem; margin-left: 10px;">
        <img class="card-img-top" style="min-height: 224px; max-height: 224px;" src="{% static 'image/tux.png'  %}" alt="Linux">
        <div class="card-body">
            <h5 class="card-title text-center">Linux</h5>
            <p class="card-text">Linux is a name which broadly denotes a family of free and open-source software operating system</p>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 17rem; margin-left: 10px;">
        <img class="card-img-top" style="min-height: 224px; max-height: 224px;" src="{% static 'image/python.jpg'  %}" alt="Python">
        <div class="card-body">
            <h5 class="card-title text-center">Python</h5>
            <p class="card-text">Python is a programming language that lets you work quickly and integrate systems more effectivel</p>
        </div>
    </div>
</div>
<br><hr><br>
{% endblock content %}
