<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="video-form">
                    <div class="input-group">
                        <input type="text" class="form-control" id="video-caption" placeholder="Video Caption">
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="file" class="form-control" id="video-file" aria-label="Insert Video">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Upload!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
