# Packaging, Databases and Executables
*.pyc
*.egg-info
/dist/
/build/
djcelery.schedulers.DatabaseScheduler
celerybeat.pid
celerybeat-schedule
db.sqlite3
fixtures
fixtures/*
*_pycache__
*/__pycache__

# Vagrant
.vagrant
# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store

# IDE files
.project
.pydevproject
.settings
.idea
.metadata/*
MyProject.komodoproject

# Docs
/docs/build/*
*.pdf

TODO
# media
*/media/*
*/static/*
*/.git

fixtures
fixtures/*
djcelery.schedulers.DatabaseScheduler
celerybeat.pid
celerybeat-schedule
*_pycache__
*/__pycache__
db.sqlite3


# Coverage
.coverage
coverage_html_report
