# Packaging, Databases and Executables
*.pyc
*.egg-info
/dist/
/build/
djcelery.schedulers.DatabaseScheduler
celerybeat.pid
celerybeat-schedule
db.sqlite3
fixtures
fixtures/*
*_pycache__
*/__pycache__

# Vagrant
.vagrant
# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store


# IDE files
.project
.pydevproject
.settings
.idea
.metadata/*
MyProject.komodoproject

# Docs
/docs/build/*
*.pdf

TODO
# media
*/media/*
*/static/*
*/.git

# Env
.env
.env-minio

# Coverage
.coverage
coverage_html_report
# whoosh_index
*/whoosh_index
tinyblog/test_whoosh_index
custom_settings.py
scripts/*
