# List of variables you may need in project env file
SECRET_KEY=
BLOG_DATABASE_NAME=
BLOG_DATABASE_USER=
BLOG_DATABASE_PASSWORD=
BLOG_DATABASE_HOST=
LANGUAGE_CODE=
TIME_ZONE=
CACHE_URL=redis://redis:6379/1
BROKER_URL=redis://redis:6379/2
RESULT_BACKEND=redis://redis:6379/3
DEBUG=false
MINIO_STORAGE=
MINIO_STORAGE_USE_HTTPS=false
MINIO_STORAGE_AUTO_CREATE_STATIC_BUCKET=true
MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=true
MINIO_STORAGE_MEDIA_BUCKET_NAME=media
MINIO_STORAGE_STATIC_BUCKET_NAME=static
MINIO_STORAGE_MEDIA_URL=
MINIO_STORAGE_STATIC_URL=
MINIO_STORAGE_ENDPOINT=minio:9000
MINIO_STORAGE_ACCESS_KEY=
MINIO_STORAGE_SECRET_KEY=
MINIO_STORAGE_MEDIA_USE_PRESIGNED=true
MINIO_STORAGE_STATIC_USE_PRESIGNED=true
MINIO_STORAGE_AUTO_CREATE_MEDIA_POLICY=true
MINIO_STORAGE_MEDIA_BACKUP_FORMAT=true
MINIO_STORAGE_MEDIA_BACKUP_BUCKET=true
MINIO_STORAGE_AUTO_CREATE_STATIC_POLICY=true
S3=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_DEFAULT_ACL=public-read
META_SITE_PROTOCOL=http
