[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "==2.3.2"
billiard = "==3.5.0.5"
celery = "==4.2.1"
certifi = "==2018.1.18"
chardet = "==3.0.4"
coverage = "==4.5.1"
coveralls = "==1.2.0"
decorator = "==4.2.1"
django-extensions = "==2.0.0"
django-haystack = "==2.8.0"
django-meta = "==1.4.1"
django-redis = "==4.9.0"
django-robots = {ref = "f484c2a6abcae6244f860ad077af28d4be62037e",git = "git://github.com/jazzband/django-robots.git",editable = true}
django-taggit = "==0.22.2"
docopt = "==0.6.2"
gunicorn = "==19.7.1"
idna = "==2.6"
ipython = "==6.2.1"
jedi = "==0.11.1"
kombu = "==4.2.2.post1"
olefile = "==0.45.1"
parso = "==0.1.1"
pexpect = "==4.4.0"
pickleshare = "==0.7.4"
psycopg2-binary = "==2.7.6.1"
ptyprocess = "==0.5.2"
pytz = "==2018.9"
redis = "==2.10.6"
requests = "==2.20.0"
simplegeneric = "==0.8.1"
six = "==1.11.0"
traitlets = "==4.3.2"
typing = "==3.6.4"
vine = "==1.2.0"
wcwidth = "==0.1.7"
ipython_genutils = "==0.2.0"
Pillow = "==8.2.0"
prompt_toolkit = "==1.0.15"
Pygments = "==2.2.0"
Whoosh = "==2.7.4"
pipenv = "*"
django-gravatar2 = "*"
django = "==2.0.8"
urllib3 = "*"
django-minio-storage = "*"
boto3 = "*"
django-storages = "*"
django-environ = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
