.container .post-meta li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
  margin-bottom: 1rem;
}



div.highlight{
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,.125);
  line-height: 1.5;
  border-radius: .25rem;
}

img.entry-poster {
    width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.detail_header{
  margin-top: 20px;
}
.category_ul_bottom{
  display: none;
}
@media (max-width: 414px) {
  .category_ul_bottom{
    display: block;
  }
  .category_ul{
    display: none;
  }
}