.container .post-meta li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

img.entry-poster {
    max-width: 800px;
    min-width: 800px;
    min-height: 400px;
    max-height: 400px;
}

div.highlight{
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,.125);
  line-height: 1.5;
  border-radius: .25rem;
}
