body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.post-imag {
  height:32px;
  width:32px; 
  }
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  #navBarSearchForm input[type=text]{width:930px !important;}
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  #navBarSearchForm input[type=text]{width:930px !important;}
}

.ac-results {
    position: absolute;
    background: #fff;
    border-radius: .25rem;
    padding: 5px;
}
.card_1{
  flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.row{
  margin-bottom: 20px;
}
.row{
  margin-bottom: 20px;
}

.card-text{
  min-height: 96px;
}

@media (max-width: 1024px) and (min-width: 769px){
  .card-title{
    min-height: 56px;
  }
  .card-text{
    min-height: 120px;
  }
}
.col-md-4{
    margin-bottom: 20px;
}
@media (max-width: 768px) and (min-width: 415px){
  .card-title{
    min-height: 56px;
  }
  .card-text{
    min-height: 182px;
  }
}

@media (max-width: 414px) {
  
  .text-muted{
  text-align: center;
  }
  .card-title{
  font-size: 1.5rem;
  font-weight: 700;
}
}
.navbar-collapse {
  margin-top: 10px;
}


