body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.post-imag {
  height:32px;
  width:32px; 
  }
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  #navBarSearchForm input[type=text]{width:930px !important;}
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  #navBarSearchForm input[type=text]{width:930px !important;}
}

.ac-results {
    position: absolute;
    margin-top: 100px;
    background: #fff;
    width: 930px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
}
